html{
  background-color: #f2f2f2;
}
body{
  font-family: 'Noto Serif JP', serif;
  color:#525050;
}
.wrapper{
  max-width: 960px;
  margin: 0 auto;
}

.search{
  display:flex;
  border-bottom: 1px solid #5a5a5a;
  padding: 10px;
}
.search img, .please{
  width:40px;
  margin:0 30px
}
.search p{
  margin:auto 10px;
  font-weight:bold;
}
.result{
/*   display: flex; */
  margin:30px auto;
  width:700px;
}
.nothing{
	padding:50px;
}

.nothing h2{
display: inline-block;
    line-height: 3em;
    margin: 0;
    height: 50px;
}
.nothing img{
	width: 50px;
	display:inline-block;
	vertical-align: middle;
	border-radius: 4px;
}

.result h2{
  font-size:18px;
}
.result strong{
  font-size: 2em;
  color:#48abab;
  margin:0 10px;
}
.select select{
  height:40px;
  width:8vw;
  margin:30px 20px;
  border:1px solid #5a5a5a;
  border-radius: 4px;
  padding:0 10px;
  }
  form{
  text-align:center;
  }
.select input{
  background-color: #2c85b6;
  color:#fff;
  width:150px;
  height: 40px;
  font-weight: bold;
  border:none;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  border-radius: 20px;
  padding:0 10px;
}
.post{
  border:1px solid #5a5a5a;
  border-radius: 8px;
  background-color:#fff;
  width:700px;
  margin:100px auto 150px;
  letter-spacing: 2px;
  line-height: 1.5em;
  padding:20px;
}
.post1{
  display:flex;
  margin:30px;
}
.post1 img{
  width:250px;
  height:140.6px;
  object-position:center;
  object-fit: cover;
  border-radius: 8px;
}
.post1 ul{
  display:flex;
  margin: 0 30px;
}
.post1 li{
  list-style: none;
  background-color: #48abab;
  color:#fff;
  font-size:12px;
  min-width:60px;
  line-height: 2em;
  border-radius: 20px;
  text-align: center;
  padding:0 5px;
  margin:10px;
  letter-spacing: 1px;
}
.post2 .area{
  background-color:#a83f52;
}
.post2 h2{
  font-size: 24px;
}
.post2 h2, .post2 h3{
  margin:10px 40px;
  margin-right:0;
}
.post3{
  margin:0 30px;
}
.post3 h3{
  font-size: 18px;
  margin:10px;
}
.post p{
  margin:10px;
}
.button{
  background-color: #7a7a7a;
  color:#fff;
  width:200px;
  height: 60px;
  font-weight: bold;
  border:none;
  border-radius: 20px;
  padding:5px 30px;
}
.button1{
  text-align:center;
  margin:30px auto;
}
.return{
	text-align:center;
  color:#7a7a7a;
  font-weight: bold;
  width:7em;
  height:1.5em;
  border-bottom:1px solid #7a7a7a;
  display:block;
  margin:50px auto; 
}

@media ( max-width : 768px) {
	
	.search img{
		width:20px;
		margin:0;
	}
	.search p{
		font-size:0.6vw;
   		margin: auto 3px;
	}
	.select select{
		display:block;
		width:50vw;
		margin:30px auto;
	}
	.post, .result{
	width:90vw;
	padding:0;
	}
	.post1{
		display:block;
	}
	.result h2, .post h3{
		text-align:center;
	}
	.post2 h2, .post2 h3{
		margin:15px 0;
	}
	.post1 img{
		width:60vw;
		height:auto;
		margin:10px 10vw;
	}
	.post1 ul{
	margin:0;
	}
	.post1 li{
		margin: 10px auto;
		min-width:auto;
		line-height:normal;
		
	}
}
	