body {
	background-color: #f2f2f2;
	color:#525050;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

.content {
	margin-bottom: 20px;
}

.content1 {
	display: flex;
	margin: 10px;
}

.pageTitle {
	border-bottom: 2px solid #5a5a5a;
	margin: 50px 0;
	padding: 10px;
}

main li {
	border-left: 5px solid #a83f52;
	margin: 10px 20px;
	width: 250px;
	list-style: none;
	height: 1em;
	padding-left: 5px;
}

input, textarea {
	width: 500px;
	border-radius: 10px;
	border: 1px solid #5a5a5a;
}
.content textarea{
	padding:10px;
}
.content input{
	padding-left:10px;
}

select{
	border-radius: 10px;
}

input[type=file] {
    height: 2em;
    width: auto;
    margin-right: 30px;
    border: none;
    border-radius: 0; 
}
.button{
	padding:0 ; 
	display: block;
	background-color: #2c85b6;
	color: #fff;
	width: 150px;
	line-height: 2.5em;
	font-weight: bold;
	text-align: center;
	border: none;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	margin: 50px auto;
}
.consent{
	text-align:center;
	margin:30px auto;
}
.consent input{
	width:20px;
}
.consent p{
	display:inline;
}
.photoup {
	border: none;
	padding: 3px;
}

@media ( max-width : 768px) {

	
}

