<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>検索結果</title>
<link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/board.css}" rel="stylesheet" type="text/css">
<style th:include="header :: head_style"></style>
</head>
<body>
	<div class="wrapper">
		<header th:include="header :: frag_header"></header>

		<div class="search">

			<img th:src="@{/img/図5.svg}"></img>
			<p>≫</p>

			<p>≫</p>
			<p>運動部</p>
			<p>≫</p>
			<p>バレーボール</p>

		</div>

		<div class="result">
			<h2>
				検索結果:<strong>999</strong>件（1～10件を表示）
			</h2>
			<p class="sort">新着順 ▼</p>
		</div>

		<div th:each="pdata:${pdatalist}">
		<section class="post">
			<div class="post1">
				<img th:unless="${pdata.image}" th:src="@{/img/noimage.jpg}"></img>
				<img th:if=${pdata.image} th:src="|data:image/jpeg;base64,${pdata.image}|">
				<div class="post2">
					<ul>
						<li class="area" th:text="${pdata.area}">エリ ア</li>
						<li th:text="${pdata.category}">カテゴリー</li>
						<li th:text="${pdata.type}">特徴</li>
					</ul>
					<h2 th:text="${pdata.schoolName}">学校名</h2>
					<h3 th:text="${pdata.title}">タイトル</h3>
				</div>
			</div>
			<div class="post3">
				<h3>メッセージ</h3>
				<p th:text="${pdata.content}">内容</p>
				<div class="button1">
					<a class="button" th:href="@{/article/{id}(id=${pdata.id-1})}">詳しく見る</a>
				</div>
			</div>
		</section>
		</div>

		<a class="return" href="">トップに戻る</a>
	</div>
</body>
</html>