<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>clubHub|部活動登録</title>
<link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/post.css}" rel="stylesheet" type="text/css">
<style th:include="header :: head_style"></style>
<style>
.err {
	color: red;
}

.error {
	color: red;
	font-size: 2vw;
	text-align: center;
	margin: 20px;
}
</style>
</head>

<body>
	<div class="wrapper">
		<header th:include="header :: frag_header"></header>
		<main class="main">
			<form method="post" action="/demo" enctype="multipart/form-data">
				<input type="file" name="uploadfile" id="photo"> <input
					class="button" type="submit" value="内容確認に進む">
			</form>
			<p th:if="${image}" th:text="${image}"></p>
			
			<div th:if="${photodata}" th:each="img : ${photodata}">
				<p th:text="${img.id}"></p>
				<p th:text="${img.image}"></p>
			</div>

			<img th:if="${base64data}" th:src="${base64data}" />

		</main>
	</div>

</body>
</html>