<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>clubHub|部活動登録</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/post.css}" rel="stylesheet" type="text/css">
<style th:include="header :: head_style"></style>
<style th:include="footer :: foot_style"></style>
<style>
.err {
	color: red;
}

.error {
	color: red;
	font-size: 2vw;
	text-align: center;
	margin: 20px;
}

.wrapper {
	height: 800px;
}
</style>
</head>

<body>
	<div class="wrapper">
		<header th:include="header :: frag_header"></header>
		<main class="main">
		<form method="post" action="/demo" enctype="multipart/form-data">
			<input type="file" name="file">
			<input type="submit" value="変換">
		</form>
		<p th:if="${image}" th:text="${image}"></p>

		</main>
	</div>
	<footer th:include="footer :: frag_footer"></footer>
</body>
</html>