<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap"
	rel="stylesheet">
<title>ログイン|clubHub</title>

<style th:fragment="foot_style">
.footer {
	height: 80px;
	background-color: #20455a;
	color: #f2f2f2;
	display: flex;
	text-align: center;
}

.footer p {
	font-size: 18px;
	margin: auto 20px;
}

.footer a {
	display: block;
	font-size: 18px;
	margin: auto 20px;
	border-bottom:1px solid #f2f2f2;
	color: #f2f2f2;
}
.footer img{
	height:40px;
}
#twitter{
	border:none;
}
.center {
	margin: 0 auto;
	display: flex;
}
</style>

</head>


<body>

	<footer th:fragment="frag_footer">
		<div class="footer">
			<div class="center">
				<a id="twitter" th:href="@{https://twitter.com/clubHub_h}">
				<img th:src="@{/img/Twitter.png}">
				</a>
				<p>©clubHub</p>
				<a th:href="@{/file/利用規約.pdf}">利用規約</a>
				<a th:href="@{/file/プライバシーポリシー.pdf}">プライバシーポリシー</a>
			</div>
		</div>
	</footer>
</body>

</html>