<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="google-site-verification" content="Y_HEcTrM4Z0C4nFGPfpmKdojnK5iD8J9remoslBIBoU" />
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
<title>clubHub | 部活動指導者募集サイト</title>
<link rel="icon" type="image/png" th:href="@{/img/favicon.jpg}"/>
<link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap"
	rel="stylesheet">
<style th:include="footer :: foot_style"></style>
<style>
@media ( max-width : 480px) {
	.content{
		margin:0;
	}
	}

</style>
</head>
<body>

	<div class="head">
		<img class="topimage" th:src="@{img/main.jpeg}" alt="">
		<div class="top">
			<header class="header">
				<nav>
					<img class="logo" th:src="@{img/logo.png}" alt="ロゴ画像">
					<ul>
						<div class="nav">
							<a th:href="@{/board}"><li>部活動を探す</li></a>
							<a th:href="@{/info}"><li>コンタクト</li></a>
						</div>
						<a th:unless="${AccountName}" th:href="@{/login}"><li
							class="login">ログイン</li></a>
						<a th:unless="${AccountName}" th:href="@{/select}"><li
							class="entry">新規登録</li></a>

						<div th:if="${cdata}" th:object="${cdata}">
							<a th:href="@{/mypage/coach/{id}(id=${cdata.id})}">
								<li th:if="${AccountName}" th:text="${AccountName}+' 様'"
								class="login"></li>
							</a>
						</div>

<!-- 						<div class="schoolLogin" th:if="${sdata}" th:object="${sdata}"> -->
							<a th:if="${sdata}" th:href="@{/mypage/school/{id}(id=${sdata.id})}">
								<li th:if="${AccountName}" th:text="${AccountName}+' 様'"
								class="login"></li>
							</a>
							<a th:if="${sdata}" th:href="@{/post}">
								<li th:if="${AccountName}" class="entry">部活登録</li>
							</a>
<!-- 						</div> -->
					</ul>
				</nav>
				<h1>部活動と外部コーチをつなぐ</h1>
				<p>
					部活動の顧問が不足して困っている。<br> 学生時代打ち込んだ経験を活かして今の子どもたちに教えたい！<br>
					土日など休みの日を地域に貢献したい！
				</p>

				<div class="select">
					<!-- 					<input type="text" placeholder="フリーワード"> -->
					<form method="post" action="/board">
						<select name="area">
							<option disabled selected>選択してください</option>
							<option value="北海道">北海道</option>
							<option value="青森県">青森県</option>
							<option value="岩手県">岩手県</option>
							<option value="宮城県">宮城県</option>
							<option value="秋田県">秋田県</option>
							<option value="山形県">山形県</option>
							<option value="福島県">福島県</option>
							<option value="茨城県">茨城県</option>
							<option value="栃木県">栃木県</option>
							<option value="群馬県">群馬県</option>
							<option value="埼玉県">埼玉県</option>
							<option value="千葉県">千葉県</option>
							<option value="東京都">東京都</option>
							<option value="神奈川県">神奈川県</option>
							<option value="新潟県">新潟県</option>
							<option value="富山県">富山県</option>
							<option value="石川県">石川県</option>
							<option value="福井県">福井県</option>
							<option value="山梨県">山梨県</option>
							<option value="長野県">長野県</option>
							<option value="岐阜県">岐阜県</option>
							<option value="静岡県">静岡県</option>
							<option value="愛知県">愛知県</option>
							<option value="三重県">三重県</option>
							<option value="滋賀県">滋賀県</option>
							<option value="京都府">京都府</option>
							<option value="大阪府">大阪府</option>
							<option value="兵庫県">兵庫県</option>
							<option value="奈良県">奈良県</option>
							<option value="和歌山県">和歌山県</option>
							<option value="鳥取県">鳥取県</option>
							<option value="島根県">島根県</option>
							<option value="岡山県">岡山県</option>
							<option value="広島県">広島県</option>
							<option value="山口県">山口県</option>
							<option value="徳島県">徳島県</option>
							<option value="香川県">香川県</option>
							<option value="愛媛県">愛媛県</option>
							<option value="高知県">高知県</option>
							<option value="福岡県">福岡県</option>
							<option value="佐賀県">佐賀県</option>
							<option value="長崎県">長崎県</option>
							<option value="熊本県">熊本県</option>
							<option value="大分県">大分県</option>
							<option value="宮崎県">宮崎県</option>
							<option value="鹿児島県">鹿児島県</option>
							<option value="沖縄県">沖縄県</option>
						</select> <select name="category" onchange="createMenu(this.value)">
							<option disabled selected>カテゴリー</option>
							<option value="運動部">運動部</option>
							<option value="文化部">文化部</option>
						</select> <select name="type" id="type" disabled>
							<option disabled selected>部活動を選択</option>
						</select> <input class="search" type="submit" value="検索する">
					</form>
				</div>
			</header>
		</div>
	</div>
	<div class="wrapper">
		<section class="new">
			<h2 class="subtitle">新着情報</h2>
			<div class="new1">
			
				<div class="school" th:object="${pdata1}">
					<div class="content">
						<h3 th:text="*{schoolName}">奈良県立鹿高校</h3>
						<img th:unless="*{image}" th:src="@{/img/noimage.jpg}">
						<img th:if="*{image}" th:src="|data:image/jpeg;base64,*{image}|">
						<h3 th:text="*{title}">タイトル</h3>
						<p th:text="*{content}">投稿内容</p>
						<div class="button1">
							<a class="button" th:href="@{/article/{id}(id=*{id-1})}">詳しく見る</a>
						</div>
					</div>
				</div>
			
				<div class="school" th:object="${pdata2}">
					<div class="content">
						<h3 th:text="*{schoolName}">奈良県立鹿高校</h3>
						<img th:unless="*{image}" th:src="@{/img/noimage.jpg}">
						<img th:if="*{image}" th:src="|data:image/jpeg;base64,*{image}|">
						<h3 th:text="*{title}"></h3>
						<p th:text="*{content}"></p>
						
						<div class="button1">
							<a class="button" th:href="@{/article/{id}(id=*{id-1})}">詳しく見る</a>
						</div>
					</div>
				</div>
				
	
			</div>

		</section>
		<section class="about">
			<h2 class="subtitle">clubHubについて</h2>
			<p>
				部活動の顧問不足に悩む学校と<br> 競技経験者をつなぐ無料サービスです。
			</p>
			<div class="contents">
				<div class="about1">
					<div class="icon">
						<p>コーチ</p>
						<img src="img/図1.svg" alt="">
					</div>
					<ul>
						<li>地域に恩返しや社会貢献ができて充実感を得る</li>
						<li>自分の好きな競技やスキルに携われる</li>
						<li>教えることで自らも学びを得る</li>
					</ul>
				</div>

				<div class="about1">
					<div class="icon">
						<p>部活顧問</p>
						<img src="img/図2.svg" alt="">
					</div>
					<ul>
						<li>部活動で拘束されていた時間から解放される</li>
						<li>授業準備の時間が出来るため授業の質が高まる</li>
						<li>プライベートも充実して心に余裕ができる</li>
					</ul>
				</div>
			</div>
			<div class="contents">
				<div class="about1">
					<div class="icon">
						<p>生徒</p>
						<img src="img/図3.svg" alt="">
					</div>
					<ul>
						<li>経験者から指導を受けられる</li>
						<li>社会人の話を聞けることで視野が広がる</li>
						<li>教師以外の大人に相談事が出来る</li>
					</ul>
				</div>

				<div class="about1">
					<div class="icon">
						<p>学校</p>
						<img id="pen" src="img/図4.svg" alt="">
					</div>
					<ul>
						<li>教師の労働環境の改善する。</li>
						<li>部活動も授業も質が高まり、生徒のパフォーマンス向上する。</li>
						<li>費用は基本的にかからない。</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="method">
			<h2 class="subtitle">clubHub利用の流れ</h2>
			<ol>
				<div class="method1">
					<li>1</li>
					<p class="method2">興味を持った部活動にチャットを送る</p>
				</div>
				<div class="method1">
					<li>2</li>
					<p class="method2">チャットで「面談日」を決める</p>
				</div>
				<div class="method1">
					<li>3</li>
					<p class="method2">面談でお互い納得すればスタート！</p>
				</div>
			</ol>
		</section>
		</div>
	<footer th:include="footer :: frag_footer"></footer>
</body>
</html>
<script th:src="@{/js/post.js}"></script>
