<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
<title>clubHub|トップページ</title>
<link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

	<div class="head">
		<img class="topimage" src="img/main.jpeg" alt="">
		<div class="top">
			<header class="header">
				<nav>
					<img class="logo" src="img/logo.png" alt="ロゴ画像">
					<ul>
						<div class="nav">
							<li>エリア</li>
							<li>カテゴリー</li>
							<li>使い方</li>
							<li>コンタクト</li>
							<li>利用者の声</li>
						</div>
						<a th:unless="${AcountName}" th:href="@{/login}"><li
							class="login">ログイン</li></a>
						<a th:unless="${AcountName}" th:href="@{/select}"><li
							class="entry">新規登録</li></a>
							
						<div th:if="${cdata}" th:object="${cdata}">
						<a th:href="@{/mypage/coach/{id}(id=${cdata.id}-1)}">
						<li th:if="${AcountName}" th:text="${AcountName}+' 様'"
							class="login"></li>
						</div>
						<div th:if="${sdata}" th:object="${sdata}">						
						<a th:href="@{/mypage/school/{id}(id=${sdata.id}-1)}">
						<li th:if="${AcountName}" th:text="${AcountName}+' 様'"
							class="login"></li>
						</a>
						</div>
					</ul>
				</nav>

				<h1>部活動と外部コーチをつなぐ</h1>
				<p>
					部活動の顧問が不足して困っている。<br> 学生時代打ち込んだ経験を活かして今の子どもたちに教えたい！<br>
					土日など休みの日を地域に貢献したい！
				</p>

				<div class="select">
					<input type="text" placeholder="フリーワード"> <select name="job">
						<option value="">エリアを選ぶ</option>
						<option value="小学校">小学校</option>
						<option value="中学校">中学校</option>
						<option value="高校">高校</option>
						<option value="大学">大学</option>
						<option value="専門学校">専門学校</option>
						<option value="その他">その他</option>
					</select> <select name="job">
						<option value="">カテゴリーを選ぶ</option>
						<option value="小学校">小学校</option>
						<option value="中学校">中学校</option>
						<option value="高校">高校</option>
						<option value="大学">大学</option>
						<option value="専門学校">専門学校</option>
						<option value="その他">その他</option>
					</select> <input class="search" type="submit" value="検索する">
				</div>
			</header>
		</div>
	</div>
	<div class="wrapper">
		<section class="new">
			<h2 class="subtitle">新着情報</h2>
			<div class="new1">
				<div class="school">
					<div class="content">
						<h3>奈良県立鹿高校</h3>
						<img src="img/team.jpg" alt="">
						<p>「全国大会出場目指しています！経験者のコーチを募集して指しています！経験者のコーチを募集しています。」「全国大会出場目指しています！経験者のコーチを募集して指しています！経験者のコーチを募集しています。」</p>
						<div class="button1">
							<a class="button" href="">詳しく見る</a>
						</div>
					</div>
				</div>
				<div class="school">
					<div class="content">
						<h3>奈良県立鹿高校</h3>
						<img src="img/team.jpg" alt="">
						<p>「全国大会出場目指しています！経験者のコーチを募集して指しています！経験者のコーチを募集しています。」「全国大会出場目指しています！経験者のコーチを募集して指しています！経験者のコーチを募集しています。」</p>
						<div class="button1">
							<a class="button" href="">詳しく見る</a>
						</div>
					</div>
				</div>


			</div>

		</section>
		<section class="about">
			<h2 class="subtitle">clubHubについて</h2>
			<p>
				部活動の顧問不足に悩む学校と<br> 競技経験者をつなぐ無料サービスです。
			</p>
			<div class="contents">
				<div class="about1">
					<div class="icon">
						<p>コーチ</p>
						<img src="img/図1.svg" alt="">
					</div>
					<ul>
						<li>地域に恩返しや社会貢献ができて充実感を得る</li>
						<li>自分の好きな競技やスキルに携われる</li>
						<li>教えることで自らも学びを得る</li>
					</ul>
				</div>

				<div class="about1">
					<div class="icon">
						<p>部活顧問</p>
						<img src="img/図2.svg" alt="">
					</div>
					<ul>
						<li>部活動で拘束されていた時間から解放される</li>
						<li>授業準備の時間が出来るため授業の質が高まる</li>
						<li>プライベートも充実して心に余裕ができる</li>
					</ul>
				</div>
			</div>
			<div class="contents">
				<div class="about1">
					<div class="icon">
						<p>生徒</p>
						<img src="img/図3.svg" alt="">
					</div>
					<ul>
						<li>経験者から指導を受けられる</li>
						<li>社会人の話を聞けることで視野が広がる</li>
						<li>教師以外の大人に相談事が出来る</li>
					</ul>
				</div>

				<div class="about1">
					<div class="icon">
						<p>学校</p>
						<img id="pen" src="img/図4.svg" alt="">
					</div>
					<ul>
						<li>教師の労働環境の改善する。</li>
						<li>部活動も授業も質が高まり、生徒のパフォーマンス向上する。</li>
						<li>費用は基本的にかからない。</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="method">
			<h2 class="subtitle">clubHub利用の流れ</h2>
			<ol>
				<div class="method1">
					<li>1</li>
					<p class="method2">興味を持った部活動にメールで応募をする</p>
				</div>
				<div class="method1">
					<li>2</li>
					<p class="method2">メールでやりとりをして「面談日」を決める</p>
				</div>
				<div class="method1">
					<li>3</li>
					<p class="method2">面談でお互い納得すればスタート！</p>
				</div>
			</ol>
		</section>
		<footer>
			<div class="footer">
				<div class="contact">
					<i class="fa fa-star"></i> <i class="fa fa-star"></i>
				</div>
				<p>©clubHub</p>
				<p>利用規約</p>
				<p>プライバシーポリシー</p>
			</div>
		</footer>
</body>
</html>