<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>clubHub|ログアウト</title>
<link rel="icon" type="image/png" th:href="@{/img/favicon.jpg}"/>
<link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/result.css}" rel="stylesheet" type="text/css">
<style th:include="footer :: foot_style"></style>
<style>
.err {
	color: red;
}
</style>
<style th:include="header :: head_style"></style>
</head>

<body>
	<div class="wrapper">
		<header th:include="header :: frag_header"></header>

		<div class="search">
			<p th:if="${msg}" th:text="${msg}"></p>
		</div>
		<div class="button">
		<a th:href="@{/}">ホームに戻る</a>
		</div>

	</div>
		<footer th:include="footer :: frag_footer"></footer>
</body>

</html>